.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.splash-page {
  background: url(./images/san_diego_sunset.jpeg) center center;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Raleway', sans-serif;
	color: white;
}

.intro-content {
  padding: 15% 0 5% 0;
}

#intro h1 {
font-weight: 100;
font-size: 75px;
letter-spacing: 2px;
color:darkslategrey
}

#intro p {
color: darkslategrey;
}

#experiences {
	background: url(./images/edinburgh.jpeg) center center;
	background-size: cover;
	background-repeat: no-repeat;
}

#projects {
  background: url(./images/cliffs_of_moher.jpeg) center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cover {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.73) 0%, rgba(0, 0, 0, 0.66) 17%, rgba(0, 0, 0, 0.55) 35%, rgba(0, 0, 0, 0.4) 62%, rgba(0, 0, 0, 0.3) 100%);
	padding: 60px;
}